/* 큰 틀 */
body {
  display: flex;
  flex-direction: column;
  width: 1020px;
  margin: 100px auto;
}

section {
  display: flex;
  flex-direction: column;
  width: 1020px;
  height: 1376px;
}

article {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 1020px;
  height: 634px;
  margin-bottom: 24px;
}

.house-article {
  border-top: 1px solid var(--color-brown-300);
  border-bottom: 1px solid var(--color-brown-300);
}

.kitchen-article {
  border-top: 1px solid var(--color-green-700);
  border-bottom: 1px solid var(--color-green-700);
}

/* 바디: 제목("Coupang") */
svg {
  margin: 0px 765.11px 48px 9px;
}

/* 섹션: 제목("핫 트랜드 / 카테고리별 추천 제품") */

section > header {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0px;
  left: 0px;
  margin-bottom: 24px;
}

header > span {
  font-size: 1em;
  font-weight: 700;
}

header h1 {
  font-size: 1.5em;
  font-weight: 700;
  margin: 0px;
}

header span:last-child {
  color: var(--color-blue-600);
}

/* 아티클: 제목,바로가기,내비게이션 */
.title-and-nav {
  display: flex;
  flex-direction: column;
  width: 174px;
}

.title {
  margin-top: 48px;
  margin-left: 24px;
  color: var(--color-brown-300);
  font-family: "Noto Sans KR", sans-serif;
  font-style: Medium;
  font-size: 24px;
  line-height: 115%;
}

.direct {
  margin-top: 8px;
  margin-left: 24px;
  background-image: url("/assets/icon/angle-right-default.svg");
  background-repeat: no-repeat;
  background-position: 55px;
  color: var(--color-gray-700);
  font-family: "Noto Sans KR", sans-serif;
  font-style: Bold;
  font-size: 14px;
  line-height: 120%;
}

h3 {
  margin-top: 248px;
  margin-left: 24px;
  margin-bottom: 0px;
  font-family: "Noto Sans KR", sans-serif;
  font-style: Medium;
  font-size: 18px;
  line-height: 115%;
}

.tag {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 382px;
  left: 24px;
  width: 124px;
  height: 220px;
  margin-top: 8px;
  font-family: "Noto Sans KR", sans-serif;
  font-style: Regular;
  font-size: 12px;
  line-height: 120%;
}

.four-word {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 26px;
  border: 1px solid var(--color-gray-500);
  color: var(--color-brown-300);
}

.six-word {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 94px;
  height: 26px;
  border: 1px solid var(--color-gray-500);
  color: var(--color-brown-300);
}

.eight-word {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 117px;
  height: 26px;
  border: 1px solid var(--color-gray-500);
  color: var(--color-brown-300);
}

.three-word {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 61px;
  height: 26px;
  border: 1px solid var(--color-gray-500);
  color: var(--color-green-700);
}

.five-word {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 83px;
  height: 26px;
  border: 1px solid var(--color-gray-500);
  color: var(--color-green-700);
}

.seven-word {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 106px;
  height: 26px;
  border: 1px solid var(--color-gray-500);
  color: var(--color-green-700);
}

/* 캐러셀 */
.carousel {
  position: relative;
  overflow: hidden;
  width: 320px;
}

.carousel-list {
  display: flex;
}

.carousel-item {
  position: relative;
}

.carousel-figurecaption {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 483px;
  left: 30px;
  width: 260px;
  height: 90px;
  background-color: var(--color-brown-300);
  color: var(--color-white);
}

.carousel-figurecaption-large {
  margin-top: 19px;
  margin-bottom: 8px;
  font-family: "Noto Sans KR", sans-serif;
  font-style: Bold;
  font-size: 18px;
  line-height: 120%;
}

.carousel-figurecaption-small {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: "Noto Sans KR", sans-serif;
  font-style: Regular;
  font-size: 14px;
  line-height: 120%;
}

.carousel-controls button:nth-child(1) {
  position: absolute;
  top: 597px;
  left: 144px;
  z-index: 1;
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 50%;
  background-color: var(--color-gray-700);
}

.carousel-controls button:nth-child(2) {
  position: absolute;
  top: 597px;
  right: 144px;
  z-index: 1;
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 50%;
  background-color: var(--color-gray-600);
}

/* 상품 */
.product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 528px;
  margin: 9px 0px 8px 16px;
}

.product-container::after {
  position: absolute;
  top: 316.53px;
  left: 485px;
  border-bottom: 1px solid var(--color-gray-600);
  width: 528px;
  top: 316.53px;
  content: "";
}

.product {
  width: 160px;
  height: 300px;
}

.product:nth-child(1) {
  margin-bottom: 16px;
}

.product:nth-child(2) {
  margin-left: 16px;
  margin-bottom: 16px;
}

.product:nth-child(3) {
  margin-left: 16px;
  margin-bottom: 16px;
}

.product:nth-child(5) {
  margin-left: 16px;
}
.product:nth-child(6) {
  margin-left: 16px;
}

.product-footer {
  font-family: "Noto Sans KR", sans-serif;
  font-style: Regular;
  font-size: 14px;
  line-height: 120%;
}

.price-and-delivery {
  margin-top: 12px;
}

.price-info {
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--color-red-500);
}

.large-font {
  font-family: "Noto Sans KR", sans-serif;
  font-style: Bold;
  font-size: 22px;
  line-height: 120%;
}

/* 👇👇👇sr-only */
.for-screen-reader {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
}
